*{
	font-family: "Open Sans";
}

body{
	margin-bottom: 60px; /*sticky footer*/
	background-image: url(../img/bluebg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

th{
	font-size: 15px;
}

/*Sticky Footer*/
html {
	position: relative;
	min-height: 100%;
}

	img{
		height: 40px;
	}

	.userrow{
		background-color: white;
		margin-bottom: 1px;
	}

	.userrow:hover{
		background-color: lightgrey;
	}

	.profilepic{
		float: left;
		width: 70px;

	}

	.usernametext{
		float: left;
		width: 200px;
		min-width: 150px;
		width: auto !important;
	}

	.userrowinner{
		margin-top: 5px;
	}

	.fullname1{
		font-size: 12px;
	}

	.username1{
		font-weight: bold;
	}

#hero{
	font-size: 50px;
	font-weight: 300;
	letter-spacing: -4px;
	margin-top: 50px;
	color: #ecf0f1;
}

#tableviewcontainer{
	margin-top: 20px;
	margin-bottom: 100px;
}

.content{
	margin-top: 30px;
	margin-bottom: 30px;
}

.tblcell{
	font-weight: lighter;
	font-size: 15px;
}

.tblheading{
	font-weight: lighter;
	font-size: 20px;
}

#nousersfound{
	height: 80px;
	background-color: #d9534f;
	padding-top: 12px;
	font-size: 20px;
	font-weight: lighter;
	border: 2px white solid;
}

#footer{
	position: absolute;
	height: 60px;
	bottom: 0px;
	background-color: white;
	width: 100%;
}

.footnote{
	margin-top: 20px;
}

.profilepic{
	height: 50px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(min-width:768px){}
@media(min-width:992px){
		#hero{
			font-size: 90px;
	}
	th{
	font-size: 25px;
}

.tblcell{
	font-size: 25px;
}

.tblheading{
	font-size: 35px;
}

}
@media(min-width:1200px){}