body{
	background-color:#ecf0f1;
	color: #34495e;
}	

img{
	height: 200px;
}

hr{
	color: #34495e;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

#logo{
	position: relative;
	top: -150px;
}

.icons{
	font-size: 250px;
	text-shadow: 1px 1px 1px;
}

.navbar{
	height: 700px;
	background-image: url(../img/bg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

#hero{
	font-size: 50px;
	font-family: "Open Sans";
	font-weight: 300;
	letter-spacing: -4px;
	margin-top: 150px;
	margin-bottom: 100px;
	color: #ecf0f1;
}

.infoblock{
	margin-top: 50px;
	margin-bottom: 50px;
}

.info{
	font-size: 30px;
	letter-spacing: -1px;
	
}

.infotitle{
	font-weight: 800;
}
.infodescription{
	color: #7f8c8d;
}

.content{
	margin-top: -100px;
	margin-bottom: 100px;
}

.footer{
	height: 50px;
	background-color: #ecf0f1;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(min-width:768px){
	img{
		height: 275px;
	}
	#hero{
		font-size: 90px;
	}

	.info{
		margin-top: 30px;
	}
}
@media(min-width:992px){
	#hero{
		font-size: 130px;
	}
}
@media(min-width:1200px){}